*{
  margin: 0;
  padding: 0;
  border: 0;

}

.container{ text-align: center; }

h1 { font-family: Akzidenz-Grotesk Pro Bold Ext;
  font-size: 171.99px;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5% 0%;

}
.box{
  background: url(../img/1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p {font-family: Akzidenz-Grotesk Pro Med;
  font-size: 38.665px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
